@font-face {
   font-family: 'Minecraft';
   font-display: swap;
   src: url('file:///C:/Users/jimde/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-06-26_173355/fonts/Minecraft/font.ttf');
}
